@import "../global.scss";

.books-preview {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: $spacer-md 0;
	margin-top: -0.5 * $spacer-md;
	& > .book-preview {
		margin-top: 1.5 * $spacer-md;
	}
}
