@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
   color: $blue;
   background-color: $white;
   padding: 0;
   margin: 0;
   transition: background-color $transition-speed-slow;
}

* {
   box-sizing: border-box;
   font-family: Roboto, 'Open Sans', sans-serif;
}

p {
   color: $gray;
   font-size: 16px;
   font-weight: 600;
}

h1 {
   font-weight: normal;
}

.mobile {
   display: none;
   @media (max-width: $breakpoint-sm) {
      display: flex;
   }
}

.desktop {
   display: flex;
   @media (max-width: $breakpoint-sm) {
      display: none;
   }
}
