$black: #000000 !default;
$white: #ffffff !default;
$blue: #2c3c4d !default;
$gray: #747476 !default;
$gray-light: #f4f6f8 !default;
$green: #34b580 !default;

$base-size: 16px !default;

$spacer-xxs: $base-size * 0.375 !default;
$spacer-xs: $base-size * 0.5 !default;
$spacer-sm: $base-size * 0.625 !default;
$spacer-md: $base-size !default;
$spacer-lg: $base-size * 1.875 !default;
$spacer-xl: $base-size * 2 !default;
$spacer-xxl: $base-size * 2.75 !default;

$breakpoint-xxs: 0 !default;
$breakpoint-xs: 414px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

$transition-speed-fast: 0.15s !default;
$transition-speed-normal: 0.3s !default;
$transition-speed-slow: 0.4s !default;
